---
import Layout from "../layouts/Layout.astro";
import FormPackage from "../components/FormPackage.svelte";
---
<Layout>
<p>add product</p>
<FormPackage client:only="svelte">

</FormPackage>
</Layout>